body{
	background-image: linear-gradient(to right, red , yellow);
	color: white;
	margin: 0%;
	padding: 0%;
}
.btn{
	background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	border-radius: 5px;
	border-width: 2px;
}
.btn:focus{
    box-shadow: none !important;
    border-color: white;
}
/*title*/
#title{
	position: relative;
}
.dropdown-toggle::after {
    content: none;
}
.title-section{
    background-image: linear-gradient(to right, red , yellow);
	font-weight: 200;
	color: white;
}
.navbar-brand, .navbar-brand:hover{
	font-weight: 600;
	color: #ffffff;
}
.nav-link{
	font-weight: 400;
	color: #ffffff;
}
.nav-link:hover{
	font-weight: 400;
	color: #ffffffc4;
}
.dropdown-design{
	background-color: #383735;
	
}
.item-design{
	color: #ffffff;
}
.item-design:hover{
	background-image: linear-gradient(to left, red , yellow);
	border-radius: 2px;
}
.slanted-div {
	position: relative;
	padding: 200px 0;
	background: #1C1B1B;
	overflow: visible;
	z-index: 1;
  }
  
  /* where the magic happens */
  .slanted-div:before{
	content: '';
	width: 95.3%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	transform-origin: left top;
	transform: skewY(-3deg);
  }
  .nav-custom-title{
	margin-bottom: 3%;
}
  .purchase-div{
	margin-bottom: 10%;
	margin-left: 3%;
  }
  .title-image{
  }



#use-cases{
	padding: 100px;
}